<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Enhance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}/">
</head>
<body>
    <div class="index-container">
        <div class="welcome-message">
            <h1>Welcome to Enhance</h1>
            <p>Experience personalized music recommendations and explore your music.</p>
            <a href="/login" class="button">Login with Spotify</a>
        </div>
    </div>
</body>
</html>
